* {
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* Paginate links() */
.paginate li{
  display: inline-block;
}
.paginate ul{
  text-align: center;
}
.paginate li a{
  color: black;
  padding: 5px 15px;
}
.paginate li a:hover{
background-color: #ffc840;
color: white;
}
.paginate .active{
  padding: 5px 13px;
  background-color: black;
  color: white;
}
/* HEADER --------------------------------------------------------------------*/
.header{
  width: 100%;
  background-color: white;
  /*position: fixed;*/
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
}

.menu {
  width: 90%;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo img{
  width: 200px;
  margin-top: 15px;
}

.menu-nav li {
  display: inline-block;
  padding: 10px;
}


/* FOOTER * SUSCRIPCION ------------------------------------------------------*/
.footer{
  width: 100%;
  height: 90px;
  background-color: black;
  color: white;
  padding: 8px;
}
.footer-content p{
  text-align: center;
}

/* HOME * SUSCRIPCION --------------------------------------------------------*/

.homesubs {
  background-image: url('/images/bannerimg.png');
  background-position: top center;
  background-size: cover;
  height: 460px;
}

.subsform-container{
  text-align: center;
  padding-top: 140px;
}

.subs-title{
  color: white;
  font-size: 30px;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
  font-weight: 600;
}
.subs-form{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.subs-form input[type="text"]{
  height: 40px;
  min-width: 460px;
  border: 1px solid #000;
  letter-spacing: 0.5px;
}

.subs-form input[type="submit"]{
    height: 40px;
    border-style: none;
    color: white;
    background-color: black;
}

/* HOME * POSTEOS ------------------------------------------------------------*/

.post-container {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
#masonry{
  column-count: 2;
  column-gap: 15px;
}
#masonrycu{
  break-inside: avoid;
}

.post{
  /*width: 48%;*/
  border: 2px dashed #ffc840;
  padding: 5px;
  margin-bottom: 15px;
}

.post img{
  width: 100%;
}

.post article {
  line-height: 0;
}

.post section{
  line-height: 1em;
  background-color: #dbdbdb;
  text-align: center;
  padding-top: 16px;
  padding-bottom:16px;
}
.prepost-title {
  font-size: 20px;
  color: black;
}
.prepost-abstract{
  color:black;
}
.imgs{
  position: relative;
}
.tri-post{
  position: absolute;
  z-index: 99;
  width: 100%;
  bottom: -26px;
}
.tri-post img{
  height: 100px;
}
.button{
  padding: 5px;
  background-color: black;
  color: white;
  border-style: none;
}


/* ABOUTUS -------------------------------------------------------------------*/

.aboutus-container {
  width: 90%;
  margin: auto;
  display: flex;
  position: row;
  margin-top: 45px;
}

.aboutus-text{
  padding-right: 60px;
}

.aboutus-container img {
  border-radius: 50%;
}

/* BLOG  ---------------------------------------------------------------------*/

.blog-container{
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

/* CONTACT US  ---------------------------------------------------------------*/

.contact-container {
  /*background-image: url('/images/grey.jpg');
  background-position: top center;
  background-size: cover;*/
  height: 600px;
  padding-top: 100px;
}

.contact-form{
  width: 60%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 35px;
}

.completename{
  display: flex;
  justify-content: space-between;
}

.contact-form input{
  height: 40px;
  border: 1px #E1E1E1 solid;
  font-weight: 100;
  padding-left: 10px;
}

.contact-form input[name="name"], .contact-form input[name="email"] {
  width: 49%;
  margin-bottom: 20px;
}
.contact-form input[name="subject"] {
  width: 100%;
  margin-bottom: 20px;
}
.contact-form textarea{
  width: 100%;
  resize:vertical;
  height: 160px;
  margin-bottom: 20px;
  border: 1px #E1E1E1 solid;
  font-weight: 100;
  padding-left: 10px;
  padding-top: 10px;
}

/* DESCRIPCION POST  ---------------------------------------------------------------*/
.postshow-container{
  width: 80%;
  margin: auto;
  padding-top: 40px;
}
.postshow-container img{
  border: 2px dashed #ffc840;
  padding: 5px;

}
.post-title, .post-abstract{
  text-align: center;
}

.post-title{
  font-size: 40px;
}

.post-content {
  width: 85%;
  margin: auto;
  padding: 26px;
  background-color: #f2f2f2;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  position:relative;
  bottom: 185px;
}

.post-author{
  text-align: center;
}

/* LOGIN FORM ----------------------------------------------------------------*/
.login-container{
  height: 600px;
  padding-top: 100px;
}
.login-form{
  width: 60%;
  margin: auto;
  background-color: #ffd;
  padding: 35px;
}
.login-form input[name="email"], .login-form input[name="password"]{
  height: 40px;
  border: 1px #E1E1E1 solid;
  font-weight: 100;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 20px;
}
